* text=auto eol=lf
*.wasm binary
*.png binary
*.zip binary
*.gz binary
*.crate binary

# Preserve upstream license bytes and exclude notices from language statistics.
bindings/wasm/licenses/** -text -whitespace linguist-vendored
docs/licenses/** -text -whitespace linguist-vendored
